<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLAMPUR CAMPING</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/favicon/favicon-96x96.png" sizes="96x96" >
    <link rel="icon" type="image/svg+xml" href="../assets/favicon/favicon.svg" >
    <link rel="shortcut icon" href="../assets/favicon/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png" >
    <meta name="apple-mobile-web-app-title" content="GC" >
    <link rel="manifest" href="../assets/favicon/site.webmanifest" >

</head>
<body>
    <header>
        <h1 class="logo">
            <a href="../index.html">
                <img src="../assets/images/montana.png" alt="GC.COM - Camping de lujo">
            </a>
            <span class="texto seo" ><a href="../index.html">GLAMPUR CAMPING</a></span>
        </h1>

        <nav class="barNav">
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="barNav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#" class="enlaceActivo">Galeria</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../assets/menu-hamburguesa/menu-svgrepo-com.svg" alt="imagen menú hamburguesa" height="60" width="60">
            </label>
        </nav>
    </header>
    <main class="main-not-index">
        <div class="contenedor">
            <div class="contenedor-galeria" >
                <h2 id="bungaloPremium">Bungalow</h2>
                <div class="contenedor-caja" data-tipo="bungalow">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion">Bungalow Premium</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-galeria">
                <h2 id="furgonetas">FURGONETAS</h2>
                <div class="contenedor-caja" data-tipo="furgonetas" data-subtipo="furgoneta1">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion">Furgoneta Challenger 2023</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="furgonetas" data-subtipo="furgoneta2">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion">Camper 4x4 Off Road</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="furgonetas" data-subtipo="furgoneta3">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion">PÖSSL Camper </h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-galeria" >
                <h2 class="titulo-seccion" id="servicios-destacados">SERVICIOS DESTACADOS</h2>
                <div class="contenedor-caja" data-tipo="serviciosDestacados" data-servicio="piscina">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion" id="piscina">Piscina</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="serviciosDestacados" data-servicio="rutaSenderismo">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion" id="rutas-senderismo">Ruta de Senderismo</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="serviciosDestacados" data-servicio="actividadesInfantiles">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion" id="actividades-niños">Actividades Infantiles</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="serviciosDestacados" data-servicio="restaurante">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion" id="restaurante">Restaurante</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
                <div class="contenedor-caja" data-tipo="serviciosDestacados" data-servicio="alquilerBicicletas">

                    <div class="carrusel-galeria">
                        <button class="btn-b-prev">&#10094;</button>

                        <div class="contenedor-carrusel-inner">
                            <!-- Las imágenes se insertarán con JS -->
                        </div>

                        <button class="btn-b-next">&#10095;</button>
                    </div>

                    <div class="contenedor-caja-info">
                        <h2 class="titulo-seccion" id="alquiler-bicicletas">Alquiler de Bicicletas</h2>
                        <p class="caja-info-texto"></p>
                        <div class="caja-info-caracteristicas"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
            <div id="redes-sociales">
                <p>Síguenos en nuestras redes:</p>
                <a href="https://facebook.com" target="_blank"><img src="../assets/images/inconos-rrss/facebook-svgrepo-com.svg" alt="Facebook"></a> |
                <a href="https://twitter.com" target="_blank"><img src="../assets/images/inconos-rrss/twitter-svgrepo-com.svg" alt="Twitter"></a> |
                <a href="https://instagram.com" target="_blank"><img src="../assets/images/inconos-rrss/instagram-svgrepo-com.svg" alt="Instagram"></a>
            </div>

            <div id="direccion">
                <p>Dirección: Poligo Industrial Tebongo, Cangas del Narcea, Asturias </p>
            </div>

            <div id="aviso-legal">
                <p><a href="aviso-legal.html">Aviso legal</a></p>
            </div>
    </footer>

<script src="../js/galeria.js"></script>
  
</body>
</html>